<%- include('../partials/head') %>

<section>
    <div class="checkout__content">
        <a href="/">&larr; Go Back</a>
        <h2>Checkout</h2>

        <hr />

        <% if (fromLocation !== undefined) { %>

        <h3>Summary</h3>
        <p>
            From:
            <span>
                <%= fromLocation %>
            </span>
        </p>
        <p>
            To:
            <span>
                <%= toLocation %>
            </span>
        </p>
        <p>
            Departure Date:
            <span>
                <%= date %>
            </span>
        </p>
        <p>
            Departure Time:
            <span></span>
        </p>
        <p>
            Airline:
            <span></span>
        </p>
        <p>
            Price:
            <span></span>
        </p>

        <% } %>

        <hr />

        <h3>Enter your personal data</h3>

        <form>
            <div>
                <input type="text" required />
                <label>Full Name*</label>
            </div>

            <div>
                <input type="email" required />
                <label>Email address*</label>
            </div>

            <div>
                <input type="tel" required />
                <label>Phone number*</label>
            </div>

            <button id="checkout-btn" class="btn">Confirm</button>
        </form>
    </div>
</section>

<%- include('../partials/footer') %>
