<% if (isDevelopment) { %>
    <%- include('../partials/head') %>
<% } else { %>
    <%- include('../partials/public/head') %>
<% }  %>

<section>
    <div class="checkout__content">
        <a href="/">&larr; Go Back</a>
        <h2>Checkout</h2>

        <% if ((typeof ticketDepTime === '') || (typeof fromLocation ===
        'undefined')) { %>
        <p>You haven't booked, yet</p>

        <% } %> <% if ((typeof ticketDepTime !== 'undefined') && (typeof
        fromLocation !== 'undefined')) { %>

        <hr />

        <h3>Summary</h3>
        <p>
            From:
            <span> <%= fromLocation %> </span>
        </p>
        <p>
            To:
            <span> <%= toLocation %> </span>
        </p>
        <p>
            Departure Date:
            <span> <%= date %> </span>
        </p>
        <p>
            Departure Time:
            <span> <%= ticketDepTime %> </span>
        </p>
        <p>
            Airline:
            <span> <%= ticketAirline %> </span>
        </p>
        <p>
            Price:
            <span> €<%= ticketPrice %>,00 </span>
        </p>

        <hr />

        <h3>Enter your personal data</h3>

        <form action="/confirmation" method="POST">
            <div>
                <input type="text" name="name" required />
                <label>Full Name*</label>
            </div>

            <div>
                <input type="email" required />
                <label>Email address*</label>
            </div>

            <div>
                <input type="tel" required />
                <label>Phone number*</label>
            </div>

            <button id="checkout-btn" class="btn">Confirm</button>
        </form>
        <% } %>
    </div>
</section>

<% if (isDevelopment) { %>
    <%- include('../partials/end') %>
<% } else { %>
    <%- include('../partials/public/end') %>
<% }  %>
