<% if (isDevelopment) { %>
    <%- include('../partials/head') %>
<% } else { %>
    <%- include('../partials/public/head') %>
<% }  %>
<section>
    <h2>Confirmation</h2>

    <% if (typeof (name) !== 'undefined') { %>
    <p>
        Thank you for booking your flight with us, <%= name %>. You,
        unfortunately, reached the end of the app. Please go back.
    </p>
    <% } %>

    <button>
        <a href="/">Go to home</a>
    </button>
</section>

<% if (isDevelopment) { %>
    <%- include('../partials/end') %>
<% } else { %>
    <%- include('../partials/public/end') %>
<% }  %>
