<% if (isDevelopment) { %>
    <%- include('../partials/head') %>
<% } else { %>
    <%- include('../partials/public/head') %>
<% }  %>
<section>
    <div class="search-container">
        <form method="post" action="/">
            <% if (formValues.fromInput) { %>
            <div>
                <input
                    data-form-from
                    type="text"
                    required
                    aria-label="Departure location"
                    name="from"
                    value="<%- formValues.fromInput %>"
                />
                <label>From</label>
            </div>

            <div>
                <input
                    data-form-to
                    type="text"
                    required
                    aria-label="Destination"
                    name="to"
                    value="<%- formValues.toInput %>"
                />
                <label>To</label>
            </div>

            <div>
                <input
                    data-form-date
                    type="date"
                    required
                    aria-label="Departure date"
                    name="date"
                    value="<%- formValues.dateInput %>"
                />
            </div>

            <% } else { %>
                <div>
                    <input
                        data-form-from
                        type="text"
                        required
                        aria-label="Departure location"
                        name="from"
                    />
                    <label>From</label>
                </div>

                <div>
                    <input
                        data-form-to
                        type="text"
                        required
                        aria-label="Destination"
                        name="to"
                    />
                    <label>To</label>
                </div>

                <div>
                    <input
                        data-form-date
                        type="date"
                        required
                        aria-label="Departure date"
                        name="date"
                    />
                </div>

            <% } %>

            <button id="search-btn" class="btn search-btn" type="submit">
                Search
            </button>
        </form>

        <!-- Notification
        <div class="error-notification hidden" aria-hidden="true" hidden>
            <p data-error-notification></p>
        </div> -->
    </div>

    <% if (result === 'No results') { %>
        <h2>Oops.. No flights available </h2>
    <% } %>

    <% if (result.Quotes !== undefined) { %>

    <!-- Card container -->
    <p class="flight-data__places">
        <%= result.Places[0].Name %> - <%= result.Places[1].Name %>
    </p>
    <p class="flight-data__date">
        (On: <%= result.Quotes[0].QuoteDateTime.substr(0, 10) %>)
    </p>

    <div class="card-container">
        <% for(var i = 0; i < result.Quotes.length; i++) { %>
        <article class="card">
            <h2 class="card__carrier"><%= result.Carriers[i].Name %></h2>
            <p class="card__min-price">€<%= result.Quotes[i].MinPrice %>,00</p>
            <p class="card__direct">Direct: <%= result.Quotes[i].Direct %></p>

            <!-- Checkout Button (invisible input) -->
            <form action="/checkout" method="POST">
                <input
                    type="hidden"
                    value="<%= result.Quotes[i].MinPrice %>"
                    name="price"
                />
                <input
                    type="hidden"
                    value="<%= result.Carriers[i].Name %>"
                    name="airline"
                />
                <input
                    type="hidden"
                    value="<%= result.Quotes[i].QuoteDateTime.substr(11, 15) %>"
                    name="time"
                />
                <button class="details-btn btn">Checkout</button>
            </form>
        </article>
        <% } %>
    </div>
    <% } %>
</section>

<% if (isDevelopment) { %>
    <%- include('../partials/end') %>
<% } else { %>
    <%- include('../partials/public/end') %>
<% }  %>

